.commentsLoader {
    height:10em;
    width:20em;

    display: grid;
    align-items: center;
    justify-items: start;
    margin-left: 2em;
    margin-bottom: 2em;
}

.postform {
    height:100%;
    width:100vw;
    display: grid;
    justify-items: center;
    align-items: center;
}

.submitSpinner {

 
    justify-self: center;
}

.postLoader{ 
    justify-self: center;
    align-self: center;
}

.homeLoader {
    align-self: center;
}

.loginLoader {align-self: center;}