.homeWrap {
    
    display: grid;
    grid-gap: 10px;  
    align-self: center;
    position: relative;
    height: 28em;
    grid-template-rows: 1fr auto;
    margin-top: 4em;

}

.filter {
  position: absolute;
  top:-40px;
  display: grid;
  font-size: 0.8em;
  grid-template-columns: 1fr 1fr;
  font-weight: 600;
}

.filter p:hover {
  cursor: pointer;
}

.tableWrap {
  display: grid;
  align-self: start;
  height:100%;
  grid-auto-rows: min-content;  
}

table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    min-width: 80vw;
    height:100%;
    table-layout: fixed ;
  width: 100% ;


  }
  
  tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

  }
  
  tr:nth-child(even) {
      background-color: #dddddd8a;
 
  }

  table a {

      color:black;
      font-weight: 500;

  }

  table a:hover {

    color: #3a3838ce;

  }



